name: Build-Scan-Push-Deploy (Self-Hosted Runner + Semantic Versioning)

on:
  push:
    branches: [ main ]

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:
    # ----------------------------------------------------
    # CHECKOUT CODE
    # ----------------------------------------------------
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 


    # ----------------------------------------------------
    # GENERATE SEMANTIC VERSION
    # ----------------------------------------------------
    - name: Generate Semantic Version
      id: version
      uses: paulhatch/semantic-version@v5.4.0
      with:
        tag_prefix: "v"
        format: "${major}.${minor}.${patch}"
        major_pattern: "BREAKING CHANGE"
        minor_pattern: "feat"

    - name: Print version
      run: |
        echo "New version: ${{ steps.version.outputs.version }}"

    # ----------------------------------------------------
    # BUILD IMAGE
    # ----------------------------------------------------
    - name: Build Docker image
      run: |
        VERSION=${{ steps.version.outputs.version }}

        echo "Building Docker image ghcr.io/${{ github.repository_owner }}/devsecops-app:$VERSION"

        docker build --no-cache \
          -t ghcr.io/${{ github.repository_owner }}/devsecops-app:$VERSION \
          -t ghcr.io/${{ github.repository_owner }}/devsecops-app:latest \
          -f app/Dockerfile \
          app/

    # ----------------------------------------------------
    # SCAN IMAGE
    # ----------------------------------------------------
    - name: Scan image with Trivy
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: ghcr.io/${{ github.repository_owner }}/devsecops-app:latest
        severity: CRITICAL,HIGH
        ignore-unfixed: true
        exit-code: "0"

    # ----------------------------------------------------
    # LOGIN + PUSH IMAGES
    # ----------------------------------------------------
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push Images
      run: |
        VERSION=${{ steps.version.outputs.version }}
        docker push ghcr.io/${{ github.repository_owner }}/devsecops-app:$VERSION
        docker push ghcr.io/${{ github.repository_owner }}/devsecops-app:latest

    # ----------------------------------------------------
    # CREATE GHCR SECRET (FOR MINIKUBE)
    # ----------------------------------------------------
    - name: Create GHCR pull secret in Minikube
      run: |
        kubectl delete secret ghcr-secret --ignore-not-found=true

        kubectl create secret docker-registry ghcr-secret \
          --docker-server=ghcr.io \
          --docker-username=faisalumerr \
          --docker-password=${{ secrets.GHCR_PAT }} \
          --docker-email=dummy@example.com

    # ----------------------------------------------------
    # APPLY MANIFESTS
    # ----------------------------------------------------
    - name: Deploy manifests
      run: kubectl apply -f k8s/

    # ----------------------------------------------------
    # PATCH DEPLOYMENT (SET VERSION + IMAGEPULLSECRET)
    # ----------------------------------------------------
    - name: Patch deployment with version + pull secret
      run: |
        VERSION=${{ steps.version.outputs.version }}

        echo "Patching deployment to use image version: $VERSION"

        kubectl set image deployment/devsecops-app \
          web=ghcr.io/${{ github.repository_owner }}/devsecops-app:$VERSION

        kubectl patch deployment devsecops-app \
          -p '{"spec":{"template":{"spec":{"imagePullSecrets":[{"name":"ghcr-secret"}]}}}}'

    # ----------------------------------------------------
    # WAIT FOR ROLLOUT
    # ----------------------------------------------------
    - name: Wait for rollout
      run: kubectl rollout status deployment/devsecops-app
